{% load static %}
<div class="search-select-param">
  <div class="d-flex align-items-center gap-1">
    <img src="{% static properties.icon %}" alt="icon" />
    <label for="{{ properties.id }}">{{ properties.label }}</label>
  </div>
  <div class="select-container">
    <div class="dropdown input-container">
        <input class="dropdown-toggle" type="text" id="{{ properties.id }}" name="{{ properties.name }}" data-bs-toggle="dropdown" aria-expanded="false" placeholder="{{ properties.placeholder }}" readonly>
        <ul class="dropdown-menu" aria-labelledby="{{ properties.id }}">
          {% for option in options %}
            <li><a class="dropdown-item" data-value="{{ option }}">{{ option }}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>