{% load static %}
<section class="destination-landing">
    <span>NUESTROS DESTINOS</span>
    <div class="row">
        <div class="col col-sm-6 col-lg-4">
            <img class="image" src="{% static 'img/barcelona.png' %}" alt=""/>
            <span>Barcelona</span>
        </div>
        <div class="col col-sm-6 col-lg-4">
            <img class="image" src="{% static 'img/madrid.png' %}" alt=""/>
            <span>Madrid</span>
        </div>
        <div class="col col-sm-6 col-lg-4">
            <img class="image" src="{% static 'img/valencia.png' %}" alt=""/>
            <span>Valencia</span>
        </div>
    </div>
</section>