{% load static %}
{% load i18n %}
{% load tags %}
{% featured_context as context %}

<section class="featured-landing">
    <span>{% translate "featured_title" %}</span>
    <div class="row gy-3 gy-lg-5">
        {% for property in context.properties %}
        <div class="col col-sm-6 col-lg-4">
            <strong>{{ property.name }}</strong>
            <p>{{ property.location }}</p>
            {% include 'components/featured_slider.html' with images=property.photos%}
            <div class="d-flex justify-content-between">
                <div>
                    {{ property.capacity }} <img class="icon" src="{% static 'svg/user_icon.svg' %}" alt="">
                    |
                    {{ property.beds }} <img class="icon" src="{% static 'svg/bed_icon.svg' %}" alt="">
                </div> 
                <div>US$ {{ property.cost_per_night }} / {% translate "featured_night" %}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>