{% load static %}
<section class="featured-landing">
    <span>PROPIEDADES DESTACADAS</span>
    <div class="row">
        <div class="col col-sm-6 col-lg-4">
            <strong>Modern 2BR in the Heart of Miraflores</strong>
            <p>Miraflores, Lima, Perú</p>
            <img class="image" src="{% static 'img/destacado_01.png' %}" alt=""/>
            <div class="d-flex justify-content-between">
                <div>
                    1 <img class="icon" src="{% static 'svg/user_icon.svg' %}" alt="">
                    |
                    2 <img class="icon" src="{% static 'svg/bed_icon.svg' %}" alt="">
                </div> 
                <div>US$ 250 / noche</div>
            </div>
        </div>
        <div class="col col-sm-6 col-lg-4">
            <strong>Spacious 1BR with Balcony in Miraflores</strong>
            <p>Miraflores, Lima, Perú</p>
            <img class="image" src="{% static 'img/destacado_02.png' %}" alt=""/>
            <div class="d-flex justify-content-between">
                <div>
                    1 <img class="icon" src="{% static 'svg/user_icon.svg' %}" alt="">
                    |
                    2 <img class="icon" src="{% static 'svg/bed_icon.svg' %}" alt="">
                </div> 
                <div>US$ 250 / noche</div>
            </div>
        </div>
        <div class="col col-sm-6 col-lg-4">
            <strong>Beautiful 2BR with Terrace in barranco</strong>
            <p>Barranco, Lima, Perú</p>
            <img class="image" src="{% static 'img/destacado_03.png' %}" alt=""/>
            <div class="d-flex justify-content-between">
                <div>
                    1 <img class="icon" src="{% static 'svg/user_icon.svg' %}" alt="">
                    |
                    2 <img class="icon" src="{% static 'svg/bed_icon.svg' %}" alt="">
                </div> 
                <div>US$ 250 / noche</div>
            </div>
        </div>
    </div>
</section>