{% load static %}
<div class="footer-landing">
    <div>
        <img src="{% static 'svg/wynwood_logo.svg' %}" alt="">
    </div>
    <div>
        {% include 'components/search_select_param.html' with id="destination" label="DESTINO" name="destination" icon="svg/search_icon.svg" options=options %}
    </div>
    <div>
        {% include 'components/search_select_param.html' with id="calendar" label="LLEGADA - SALIDA" name="calendar" icon="svg/calendar_icon.svg" options=options %}
    </div>
    <div>
        {% include 'components/search_select_param.html' with id="guests" label="HUESPEDES" name="guests" icon="svg/guests_icon.svg" options=options %}
    </div>
    <div>
        <button class="btn btn-outline-dark rounded rounded-5 px-3">
            Buscar
        </button>
    </div>
</div>