<div class="reason-landing">
    <div class="row align-items-center">
        <div class="col-12">
            <span>¿POR QUÉ ESPAÑA?</span>
        </div>
        <div class="col-12 col-md-6">
            <p>Ubicada en el corazón de la Península Ibérica, España es un destino cautivador por su cultura, su gastronomia y por la historia que cuentan sus calles, pueblos y ciudades. Aquí se fusiona la arquitectura colonial y moderna creando una vibrante atmósfera urbana que siempre tiene una historia por contar.</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Dejate llevar por su animada cultura, desde energicas interpretaciones de flamenco hasta festivales, y disfruta de la exquisita variedad de sabores de su gastronomía mientras te rodeas de pintorescos mercados locales y acogedores cafés.</p>

            <p>Aquí la modernidad y la tradición convergen para crear una experiencia de viaje única. Un destino donde cada paso es un viaje a través del tiempo.</p>
        </div>
    </div>
</div>